html {
    scroll-behavior: smooth;
}

#main-image{
    width: 100%;
}
body{
    background: linear-gradient(0deg, black , #303030 95%);
    margin: 0px 0px;
}
#main-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('./tanjiro-kamado-flame-kimetsu-no-yaiba-uhdpaper.com-hd-3.1429.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: end;
}
#main-text{
    width: 700px;
    height: 600px;
    color: white;
    font-size: 20px;
}
#main-header{
    font-size: 80px;
    color: white;
}
#main-content {
    display: flex;
    flex-direction: column;
    padding-top: 18%;
    padding-right: 10%;
    align-items: center;
}
