.contact {
    width: 70%;
    margin: 3% auto;
}

form {
    display: flex;
    flex-direction: column;
}

label input,textarea {
    margin: 1% 0;
}

.textarea {
    width: 60%;
    resize: none;
    height: 20vw;
}

button {
    width: 7em;
    padding: 0.7em;
    background-color: lightseagreen;
    color: #fff;
    border: 0;
    cursor: pointer;
}

@media (max-width: 430px) {
    .textarea {
        width: fit-content;
    }
    button {
        font-size: 3vw;
    }
}